# personal environment variables
.env

# vscode
.vscode/

# git
.gitignore
.git/

# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# packaging
*.egg-info/
